#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/lib/famitracker/occft.png
Name[en_US]=FamiTracker
Exec=/usr/lib/famitracker/famitracker.sh
Comment[en_US]=Chiptunes Tracker
Name=FamiTracker
Comment=Chiptunes Tracker
Icon=/usr/lib/famitracker/occft.png
Categories=;

