#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-foot
Name[en_US]=Launcher Script
Exec=bash /home/downerj/.launcher_script
Comment[en_US]=Ubuntu intial script to determine launcher app(s) to run
Name=Launcher Script
Comment=Ubuntu initial script to determine launcher app(s) to run
Icon=gnome-foot
