#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/gnome/48x48/devices/computer.png
Name[en_US]=Gnome Panels
Exec=gnome-panel
Comment[en_US]=Gnome Panels
Name=Gnome Panels
Comment=Gnome Panels
Icon=gnome-foot
